body {

}
.app{
    background-color: #a4d3d6;
    min-height: 100vh;
}
#content {
    overflow: auto;
    margin: 30px auto;
}
.green{
    background-color:#7cffa1 ;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #eaf1f4;
    color: #237385;
    border-radius: 10px;
}
.form-control{
    margin: 5px;
}
